.container {
    max-width: 75em;
    margin: 0 auto;
    margin-top: -35em ;
    color: #FFF;
    border-radius: 1rem;
    position: absolute;
    z-index: 10;
}

.p {
    margin-top: 0.5em;
    font-size: large;
    padding-bottom: 0.5em;
}
