.container {
    background-color: rgba(255, 255, 255, 0.904);
    margin: 1em;
    padding: 1em;
    border-radius: 1rem;
    box-shadow: 2px 10px 1.5em 5px black;
    text-align: center;
}

.posts-container {
    display: block;
    align-items: center;
    margin-bottom: 2em;
    background-color: rgba(128, 128, 128, 0.301);
    flex-basis: auto;
    justify-content: space-between;
    overflow-x: scroll
    
}
