
.posts-container {
    display: block;
    align-items: center;
    margin-bottom: 2em;
    background-color: rgba(128, 128, 128, 0.301);
    flex-basis: auto;
    justify-content: space-between;
    overflow-x: scroll
    
}
