.slogan {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    
}

.logo {
    width: 40px;
    margin-right: 10px;
}

.slogan-element {
    display: flex;
    align-items: center;
}

.slogan-element h3 {
    padding: 0;
}