.info {
    display: block;
    padding: 1rem;
    bottom: 0;
    background-color: white;
    box-shadow: 2px 2px 1.5em 2px black;
    text-align: center;
}

.user {
    text-decoration: underline;
    text-align: right;
    padding-right: 1%;
}

.card {
    width: 400px;
    flex: 0 0 5em;
    margin: 0.7em;
    background-color:white;
    box-shadow: 2px 2px 1.5em 2px black;
    display: inline-block
}

.model {
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 10px;
}