.container {
    position: relative;
    z-index: 100;
    background-color: rgb(240, 255, 255);
    max-width: 75em;
    margin-top: -30em;
    padding-bottom: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container p {
    color: #000;
    padding-bottom: 0.5em;
    font-size: 2.5em;
}

.container a {
    width: 8em;
}

.container + .container {
    margin-top: 1em;
}