.site-footer {
    max-width: 75em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.2em solid #999;
}

.copy-right {
    padding: 2em 0;
    text-align: center;
    font-weight: bold;
    margin-top: 2.5vh;
}
