.search-input {
    width: 50%;
    height: 7%;
    text-decoration: inherit;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(7, 97, 100);
    font-family: system-ui;
    font-size: 1rem;
    padding: 0.5rem 1rem;
} 