.header-link {
    color: white;
    text-decoration: none;
    height: 40px;
}

.header-list-item {
    display: inline-block;
    height: 40px;
    cursor: pointer;
    vertical-align: top;
}

.header-list-item:not(:first-child) {
    padding: 15px;
}

.header-list-item:hover {
    border-top: none;
    font-weight: bold;
    background-color: #383838;
}